  body {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    font-style: normal;
    color: #283136;
    font-family: Roboto, sans-serif;
    ;
    font-weight: normal;
    background: white
  }

  h1 {
    font-size: 55px;
    line-height: 55px;
    color: #000000;
    font-weight: bold;
  }

  h2 {
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    font-weight: bold;
  }

  header {
    padding: 50px 0;
    background: #eeeeee
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  .container {
    width: 1160px;
    margin: auto;
    padding: 0 20px;
    display: inline-block;
    text-align: center;
  }

  .main-header {
    margin-bottom: 13px
  }

  .main-navigation {
    min-height: 132px;
    width: 660px;
    float: left;
  }

  .user-block {
    min-height: 132px;
    width: 160px;
    float: right;
    margin-bottom: 17px
  }

  .slider {
    position: relative;
    width: 880px;
    height: 310px;
    margin: 0 auto;
  }

  .slider input[type=radio] {
    position: absolute;
    opacity: 0;
  }

  .slider-controls {
    position: absolute;
    bottom: 95px;
    left: 50%;
    width: 200px;
    height: 10px;
    margin-left: -100px;
    text-align: center;
    z-index: 1000;
  }

  .slider-controls label {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0 3px;
    background: white;
    border: 3px solid white;
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
  }

  #btn-1:checked~.slider-controls label[for="btn-1"], #btn-2:checked~.slider-controls label[for="btn-2"], #btn-3:checked~.slider-controls label[for="btn-3"] {
    background: #c1c1c1;
  }

  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .slide-text {
    width: 380px;
    padding: 30px 0;
    color: #283136;
  }

  .slide-title {
    font-size: 36px;
    line-height: 1;
    font-weight: bold;
    color: black;
  }

  .slide .btn {
    display: block;
    width: 240px;
    padding: 10px 0;
    margin-top: 25px;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background: #fb565a;
    border-radius: 3px;
  }

  .slide:nth-child(1) {
    background-image: url('img/slide1.png');
    background-repeat: no-repeat;
    background-position: 100% 10px;
  }

  .slide:nth-child(2) {
    background-image: url('img/slide2.png');
    background-repeat: no-repeat;
    background-position: 100% 10px;
  }

  .slide:nth-child(3) {
    background-image: url('img/slide3.png');
    background-repeat: no-repeat;
    background-position: 100% 0;
  }

  .slide {
    display: none;
  }

  #btn-1:checked~.slides .slide:nth-child(1) {
    display: block;
  }

  #btn-2:checked~.slides .slide:nth-child(2) {
    display: block;
  }

  #btn-3:checked~.slides .slide:nth-child(3) {
    display: block;
  }

  .products {
    margin-bottom: 11px
  }

  .products {
    width: 300px;
    min-height: 410px;
    margin-right: 85px;
    float: left;
  }

  .products {
    last-child {
      margin-right: 0px;
    }
    .inf {
      margin-bottom: 11px
    }
  }

  .inf1 {
    float: left;
    width: 760px;
    min-height: 526px;
    margin-right: 40px
  }

  .inf2 {
    float: left;
    width: 360px;
    min-height: 526px;
    margin-right: 20px
  }

  .range-filter {
    width: 240px;
  }

  .range-controls {
    position: relative;
    height: 41px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    background: #f1f1f1;
  }

  .range-controls .scale {
    height: 2px;
    background: #d7dcde;
  }

  .range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
  }

  .range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 4px;
    height: 4px;
    cursor: pointer;
    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
  }

  .range-controls .toggle-min {
    left: 50px;
  }

  .range-controls .toggle-max {
    left: 110px;
  }

  .price-controls {
    font-size: 0;
  }

  .price-controls label {
    font-size: 16px;
    display: inline-block;
    width: 50%;
  }

  .max-price {
    text-align: right;
  }

  .price-controls input {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    width: 60px;
    margin-left: 10px;
    padding: 8px 10px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
  }

  .main-footer {
    margin-top: 0px;
    padding-top: 75px;
    padding-bottom: 65px;
  }

  .footer-contacts {
    float: left;
    width: 260px;
    min-height: 60px;
    margin-right: 100px;
  }

  .footer-social {
    float: right;
    width: 560px;
    min-height: 107px;
  }
